.App {
  text-align: center;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 24rem;
  max-height: 70vh;
  border-radius: 16px;
  background: white;
  overflow: hidden;
  font-size: 16px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  /* border-radius + overflow:hidden - safari clipping bug */
  transform: translateZ(0);
}

.modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 3rem;
  font-weight: 700;
  color: #000;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  padding: 20px 30px;
  text-align: center;
  white-space: pre-line;
  overflow-y: auto;
}
.modal-body .message {
  font-size: 14px;
  color: #333;
  white-space: pre-line;
}

.modal-buttons {
  position: sticky;
  bottom: 0;
}
.modal-buttons button {
  width: 100%;
  height: 3rem;
  padding: 0 16px;
  background-color: #ccc;
  color: #000;
}
.modal-buttons button:hover {
  background-color: #ddd;
}
.modal-buttons button:active {
  background-color: #eee;
}
